<a routerLink="/inmuebles/{{link}}">
    <div class="caja"> 
            <div class="principal">
                <slider-img-component>
                        <ng-content select="img">
                        </ng-content>
                </slider-img-component>
            </div>
            <div class="desc">
                    <h1>$ {{price}}</h1>
                    <h5>{{title}}</h5>
                    <h6>{{desc}}</h6>
                    <h5><i class="fas fa-map-marker-alt"></i> {{place}}</h5>
            </div>
            
            

    </div>
</a>
