 <nav class="navegacion">
    <div class="logo">
       <a routerLink=""> <img src="../../assets/img/1x/logotipo.png" alt="">
        </a>
    </div>
    <div *ngIf="(this.auth.getUserObject()==null);then notLogged else logged"></div>
    
    
            <ng-template #notLogged>
                        <div class="opciones">
                              <a routerLink="/inmuebles" class="nav-login">Publicaciones</a>
                              <a routerLink="/login" class="nav-login boton"><p>Iniciar Sesión</p></a> 
                        </div>          
            </ng-template>
           <ng-template #logged>
                  <div class="opciones">
                        <a routerLink="/inmuebles" class="nav-login">Publicaciones</a>
                        <a routerLink="/publicar" class="nav-login">Publicar</a>
                        <a class="nav-login drop" >
                              <i class="fas fa-user-circle " tabindex="0" ></i> 
                              <ul>
                                    <li  ><a class="name" routerLink="/profile" >{{this.auth.getUserObject().name}}</a></li>
                                    <li><a routerLink="" class="nav-logout" (click)="logout()">Cerrar Sesion</a></li>
                              </ul>
                        </a> 
                  </div> 
            </ng-template>
            
            
            

</nav>