
<div class="dropzone" dropZone (hovered)="toogleHover($event)" (dropped)="startUpload($event)" [class.hovering]="isHovering">



     <h3>Arrastra y suelta una imagen</h3>

     <div class="file">
        <button class="file-label" for="drag">
            <span class="file-cta">
                <span class="file-icon">
                  <i class="fa fa-upload"></i>
                </span>
                <span class="file-label">
                  o elige una imagen
                </span>
              </span>
            </button>


        <input class="file-input" type="file" multiple name="drag"(change)="startUpload($event.target.files)">
        
          
          
        
      </div>
</div>
<div *ngIf="percentage | async as pct">

    <progress class="progress is-info" 
              [value]="pct" 
              max="100">        
    </progress>
  
    {{ pct | number }}%
  
  </div>
  
  
  <div *ngIf="snapshot | async as snap">
    
  
    <div *ngIf="downloadURL | async as url">
      <h3>Imagenes cargadas.</h3>
      <img [src]="url" style="max-width: 30%;"><br>
    </div> 
  

  
  </div>