<section class="contenedor">
        <div class="heading">
            <div class="barra">
                <h1>{{inmuebleObjeto.title}}</h1>
                <div class="opciones">
                    <a class="drop">
                        <i class="fas fa-bars " tabindex="0" ></i> 
                        <ul>
                            <li><button *ngIf="(this.esDeUsuario | async)&&!editando" (click)="editar()">Editar</button> 
                            </li>
                            <li><button *ngIf="(this.esDeUsuario | async)&&editando" (click)="cancelarEdicion()">Cancelar</button> 
                            </li>
                            <li><button *ngIf="(this.esDeUsuario | async)" (click)="eliminar()">Eliminar</button> 
                            </li>
                        </ul>      
                    </a>
                    <button *ngIf="(this.esDeUsuario | async)&&!editando" (click)="editar()">Editar</button> 
                    <button *ngIf="(this.esDeUsuario | async)&&editando" (click)="cancelarEdicion()">Cancelar</button> 
                    <button *ngIf="(this.esDeUsuario | async)" (click)="eliminar()">Eliminar</button> 
                </div>
            </div>
            <div class="imagen">
                <slider-img-component imgs="{{img}}" style="color: #000"></slider-img-component>
                <img src="{{img[0]}}" alt="">
            </div>
        </div>
        <div class="main-info">
                
                <ul>
                    <li >Direccion:
                        <span *ngIf="!editando"> {{inmuebleObjeto.place}}</span>
                        <input type="text" *ngIf="editando" [(ngModel)]="inmuebleEditado.place"> 
                    </li>
                    <li>Precio: $
                        <span *ngIf="!editando"> {{inmuebleObjeto.price}}</span>
                        <input type="text" *ngIf="editando" [(ngModel)]="inmuebleEditado.price">   
                    </li>
                </ul>
                <div class="boton" *ngIf="(editando)">
                <button  class="ripple" (click)="confirmarEdicion()">Confirmar cambios</button>
                </div>
                <button *ngIf="(!verContacto&&!editando)"  (click)="solicitarInformacionContacto()">Solicitar informacion de contacto</button>
                <span *ngIf="(verContacto)">Informacion de contacto <i class="fas fa-angle-double-down"></i></span>
                <ul *ngIf="(verContacto)">
                    <li>Correo:  {{this.email}}</li>
                    <li>Telefono: {{this.phone}}</li>
                </ul>
        </div>
</section>





