<section class="contenedor">
        <div class="heading">
            <div class="barra">
                <h1>{{inmuebleObjeto?.title}}</h1>
                <div class="opciones">
                    <a class="drop">
                        <i class="fas fa-bars " tabindex="0" *ngIf="(this.esDeUsuario | async)&&!editando"></i> 
                        <ul *ngIf="(this.esDeUsuario | async)&&!editando">
                        <li (click)="editar()">Editar
                            </li>
                            <li (click)="cancelarEdicion()"><button *ngIf="(this.esDeUsuario | async)&&editando" >Cancelar</button> 
                            </li>
                            <li (click)="eliminar()">Eliminar
                            </li>
                        </ul>      
                    </a>
                    <button *ngIf="(this.esDeUsuario | async)&&editando" (click)="cancelarEdicion()">Cancelar</button> 
                </div>
            </div>
        </div>
        <div class="imagen">
            <slider-img-component imgs="{{inmuebleObjeto?.images}}" id="{{(this.inmueble | async)?.id}}" style="color: #000"></slider-img-component>
            
        </div>
        <div class="main-info">
                
                <ul>
                    <li >Direccion:
                        <span *ngIf="!editando"> {{inmuebleObjeto?.place}}</span>
                        <input type="text" *ngIf="editando" [(ngModel)]="inmuebleEditado.place"> 
                    </li>
                    <li>Precio: $
                        <span *ngIf="!editando"> {{inmuebleObjeto?.price}}</span>
                        <input type="text" *ngIf="editando" [(ngModel)]="inmuebleEditado.price">   
                    </li>
                </ul>
                <div class="boton" *ngIf="(editando)">
                <button  class="ripple" (click)="confirmarEdicion()">Confirmar cambios</button>
                </div>
                <button *ngIf="(!verContacto&&!editando)"  (click)="solicitarInformacionContacto()">Solicitar informacion de contacto</button>
                <span *ngIf="(verContacto)">Informacion de contacto <i class="fas fa-angle-double-down"></i></span>
                <ul *ngIf="(verContacto)">
                    <li>Correo:  {{this.email}}</li>
                    <li>Telefono: {{this.phone}}</li>
                </ul>
        </div>
</section>





