
<!-->Recorre los inmuebles del servicio inmueblesS que tiene la lista de inmuebles 'inmuebles'<!-->
    <section class="inmuebles-wrapper" style="max-width: 100%;">
        <h1 style="text-align: center; margin-bottom: 2rem; font-size: 50px;">Inmuebles</h1>
        <div  class="inmuebles-cards">
                <inmueble-card-component link="{{inmueble.id}}" title="{{inmueble.title}}" img="{{inmueble.images.pop()}}" state="" place="{{inmueble.place}}"  price="{{inmueble.price}}"  *ngFor="let inmueble of publicaciones | async"> 
                </inmueble-card-component>
        </div>
                    
        
         
        
        
        
            
        
        
        
  
    </section>
    
