
<!-->Recorre los inmuebles del servicio inmueblesS que tiene la lista de inmuebles 'inmuebles'<!-->
    <section class="inmuebles-wrapper">
        <h2>Inmuebles</h2>
            <div *ngFor="let inmueble of publicaciones | async">
                    <inmueble-card-component link="{{inmueble.id}}" name="{{inmueble.title}}" img="" price="" >

                            
                    </inmueble-card-component>
            </div>
        
         
        
        
        
            
            <br>
        
        
  
    </section>
    
