:host{
    width: 100%;
}
.inmuebles-wrapper{
    margin: 5vh 10vw;
    padding: 2vw 3vw;
    max-width: 100%;
}

.inmuebles-cards{
    display: grid;
    grid-gap: 2rem;
    grid-template-columns: 1fr;
    width: 100%;
}

@media (min-width: 500px) {

    .inmuebles-cards{
        grid-template-columns: 1fr 1fr;

    }
}
@media (min-width: 800px){
    .inmuebles-cards{
        grid-template-columns: 1fr 1fr 1fr;

    }
}
