
<div class="background">
    <div id="login-form">
        <div class="heading">Iniciar Sesión en ViviendApp</div>
        <div class="left">
          <label for="email">Email</label> <br />
          <input type="email" name="email" id="email" /> <br />
          <label for="password">Contraseña</label> <br />
          <input type="password" name="password" id="pass" /> <br />
          <input type="submit" value="Login" />
        </div>
        <div class="right">
          <div class="connect">Ingresar con GMail</div>
            
          <a  class="google-plus" (click)="login()">
      <!--       <span class="fontawesome-google-plus"></span> -->
            <i class="fab fa-google" aria-hidden="true"></i>
          </a>
        </div>
    </div>
</div>


  