<section class="perfil">
    <div class="header">
        <h1>Mi Perfil</h1>
    </div>
    <div class="content">
        <h2>{{this.auth.getUserObject().name}}</h2>
    </div>
    <inmueble-card-component link="{{inmueble.id}}" title="{{inmueble.title}}"  state="" place="{{inmueble.place}}"  price="{{inmueble.price}}"  *ngFor="let inmueble of inmuebles | async"> 
                    
                    
        <img [src]="img" alt="" srcset="" *ngFor="let img of inmueble.images ">
    </inmueble-card-component>
    
</section>