<footer>
    <div class="row">
                <div class="column">
                    <img src="../../assets/img/1x_Negativo/logotipo (SIN SOMBRA).png" alt="">
                </div>
                <div class="column">
                    <h3>Nosotros</h3>
                    <ul>
                        <li>Acerca de nosotros</li>
                        <li><a routerLink="about/privacy-policy" style="color: inherit">Privacidad y terminos de usabilidad</a></li>
                        <li>Contactanos</li>
                        <li></li>
                        <li></li>
                    </ul>
                </div>
                <div class="column">
                    <h3>Siguenos en</h3>
                    <ul>
                        <li>
                            <a href="https://www.facebook.com/ViviendApp/" target="_blank"><i class="fab fa-facebook"></i>
                            </a>
                            <a href="https://www.instagram.com/viviendapp/" target="_blank"><i class="fab fa-instagram"></i>
                            </a>
                            <a href="https://www.twitter.com/viviendapp/" target="_blank"><i class="fab fa-twitter"></i>
                            </a> 
                            </li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                    </ul>
                </div>
    </div>  
    <div class="row"></div>
</footer>