/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Montserrat');

*{
    margin: 0;
    --color-principal: #1DD9A8;
    --color-azul-secundario-light:#19BAAA;
    --color-azul-secundario-lighty:#2fa3b1;
    --color-azul-secundario-darky:#198c9b;
    --color-azul-secundario-dark:#177f8c;

    font-family: 'Montserrat', sans-serif;
    box-sizing:border-box;
}
